body {
  min-width: 100vh;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

header {
  height: auto;
  min-width: 100%;
}

main {
  display:flex;
  flex-grow: 1;
}

article {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

section {
  display: block;
}

table {
  width:80%;
  border-collapse: collapse;
}

th {
  border: none;
  border-bottom: 1px solid;
}

td {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  height: 30px;
}

label {
  display:inline-block;
  width: 150px;
  margin-right: 10px;
}

input {
  display:inline-block;
  text-align: right;
  width: 100px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}